/* Text Elements */

h1.title-headline {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
}

/* Layout Elements */

body.body-1 {
  background-color: #000;
  background-image: none;
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 0 0;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

.container-grid.main {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: start;
  width: 100%;
  height: auto;
  background-image: url('../images/me.jpg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  background-blend-mode: normal;
}

div.responsive-picture.picture-1 {
  position: relative;
  z-index: 2000;
  padding-bottom: 10px;
  max-width: 140px;
  box-shadow: none;
}

.container-grid.social-box {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
          align-self: center;
}

a.glyph.social {
  margin-right: 5px;
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  line-height: 1;
}

.container-grid.sub-head-con {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 200px;
  max-width: 500px;
  width: 100%;

  -webkit-align-self: center;
  -ms-flex-item-align: center;
          align-self: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.html-element.html-element-1 {
  width: 100%;
}

.container-grid.header {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 500px;
  max-width: 800px;
  width: 100%;
  background-image: none;
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 0 0;
  background-repeat: no-repeat;

  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  background-blend-mode: normal;
}

.container-grid.container-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container-grid.overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  width: 100%;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 72%, rgba(0, 0, 0, 1) 100%);
  background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, 0) 72%, rgba(0, 0, 0, 1) 100%);
  background-image:      -o-linear-gradient(top, rgba(0, 0, 0, 0) 72%, rgba(0, 0, 0, 1) 100%);
  background-image:         linear-gradient(180deg, rgba(0, 0, 0, 0) 72%, rgba(0, 0, 0, 1) 100%);
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  background-repeat: repeat;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  background-blend-mode: normal;
}

a.responsive-picture.picture-link-1 {
  margin-top: -4px;
  margin-left: 2px;
  max-width: 32px;
}

a.glyph.social:hover {
  color: #cdcdcd;
  text-decoration: none;
}

@media screen and (min-width: 22.5rem) {
  /* Text Elements */

  h1.title-headline {
    font-size: 52px;
  }
}

@media screen and (min-width: 36rem) {
  /* Text Elements */

  h1.title-headline {
    margin-bottom: -10px;
    font-size: 68px;
  }

  .container-grid.sub-head-con {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
  }
}

@media screen and (min-width: 48rem) {
  /* Text Elements */

  h1.title-headline {
    margin-bottom: -11px;
    font-size: 72px;
  }

  .container-grid.sub-head-con {
    margin-top: -30px;
  }
}

@media screen and (min-width: 62rem) {
  /* Text Elements */

  h1.title-headline {
    margin-bottom: -12px;
    font-size: 78px;
  }
}

@media screen and (min-width: 75rem) {
  /* Text Elements */

  h1.title-headline {
    margin-bottom: -13px;
    font-size: 82px;
  }

  .container-grid.sub-head-con {
    max-width: 500px;
  }

  .html-element.html-element-1 {
    width: 100%;
  }

  .container-grid.main {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }

  .container-grid.social-box {
    padding-top: 20px;
  }
}